
article {
	display: grid;
	grid-template-columns: 1fr 0.25in [start] 1in 10.5in 1in [end] 0.25in 1fr;
}

@media (max-width: 13in) {
	article {
		grid-template-columns: 1fr [start] 10% 80% 10% [end] 1fr;
	}
}

article * {
	grid-column: start / end;
	padding: 0.5in 0;
}

.size_1 {
	grid-column: 4 / 5;
}

.size_2 {
	grid-column: 3 / 6;
}
.size_3 {
	grid-column: 2 / 7;
}
.size_4 {
	grid-column: 1 / 8;
}
figure.size_1 > img, figure.size_1 > canvas,
figure.size_1 > img, figure.size_1 > canvas,
figure.size_1 > img, figure.size_1 > canvas,
figure.size_1 > img, figure.size_1 > canvas {

	width: 100%;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;

}
