:root {font: 20px/1.2 "Roboto", sans-serif; background-color: #ecf0f1;}

body, body * {

  margin:            unset;
  box-sizing:        unset;
  padding:           unset;
  border:            unset;
  font-size:         unset;
  color:             unset;
  text-decoration:   unset;

}

body {

  background-color: hsl(192, 15%, 97%);

}
